.registration-page {
  background: #00A086;

  .registration-form {
    position: relative;
    background: #ffffff;
    padding-bottom: 10rem;
    -webkit-box-shadow: 0px 0px 45px 8px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 45px 8px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 45px 8px rgba(0,0,0,0.25);

    .logo-headline {
      padding-top: 12rem;
      padding-bottom: 5rem;

      .logo {
        display: flex;
        justify-content: center;
        color: #00a388;
        font-family: Archivo Black;
        font-size: 9rem;
      }

      .headline {
        display: flex;
        justify-content: center;
        font-size: 3rem;
        color: #d9d7d7;
        margin-top: -2rem;
      }
    }

    .name-rows {
      .form-row {
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
        flex-wrap: wrap;
        position: relative;

        div {
          display: flex;
          justify-content: center;
          width: 50%;
          color: red;
          font-size: 1.4rem;
        }

        input {
          border-image-source: linear-gradient(1deg, #F0BD0C 0%, #00A086 13%);
          border-width: 0 0 2px 0;
          border-image-slice: 1;
          width: 51%;
          margin: 0 auto;
          height: 2.5rem;
          font-size: 2.1rem;

          &::-webkit-input-placeholder {
            padding-left: 1rem;
            color: #d9d7d7;
          }
        }
        label {
          position: absolute;
          right: 16rem;
          margin: auto 0;
          opacity: 1;
          width: 2rem;
          height: 1.8rem;
          background: url("/static/svg/icon_login.svg") no-repeat;
          background-size: cover;
          -webkit-transition: opacity 300ms;
          -moz-transition: opacity 300ms;
          -ms-transition: opacity 300ms;
          -o-transition: opacity 300ms;
          transition: opacity 300ms;
          &:hover {
            opacity: 0;
          }
        }
      }

      .form-row:nth-of-type(2) {
        label {
          background: url("/static/svg/icon_passwd.svg") no-repeat;
          background-size: cover;
        }
      }
      .form-row:nth-of-type(3) {
        label {
          background: url("/static/svg/icon_passwd.svg") no-repeat;
          background-size: cover;
        }
      }
      .form-row:nth-of-type(4) {
        label {
          background: url("/static/svg/email.svg") no-repeat;
          background-size: cover;
        }
      }
    }
    .registration-button {
      padding-left: 6rem;
      padding-right: 6rem;
      border: none;
      color: white;
      font-size: 2rem;
      height: 4rem;
      border-radius: 4rem;
      background: #F0BD0C;
      margin-bottom: 2rem;
    }
    a {
      color: #F0BD0C;
      display: block;
      font-size: 1.7rem;
      text-decoration: none;
      cursor: pointer;
      width: 100%;
      text-align: center;
      padding-right: 1rem;
    }
  }

  .registration-books {
    position: absolute;
    bottom: -1rem;
    left: -25rem;
    width: 20rem;
    height: 10rem;
    background: url('/static/svg/books_reg.svg');
    background-repeat: no-repeat;
  }

  .ignat-registration {
    position: absolute;
    bottom: 0;
    right: -25rem;
    width: 20rem;
    height: 20rem;
    background: url('/static/svg/ignat_reg.svg');
    background-repeat: no-repeat;
  }
}